.pre-sign-in-screen-no-image {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
}

.image1 {
  width: 1440px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle1 {
  width: 143px;
  height: 23px;
  position: absolute;
  top: 15px;
  left: 242px;
  background: #2c6693;
}

.dhis2-to-arcgis-connector-app {
  width: 244px;
  height: 48px;
  position: absolute;
  top: 2px;
  left: 242px;
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.rectangle2 {
  width: 1440px;
  height: 975px;
  position: absolute;
  top: 49px;
  left: 0;
  background: #d9d9d9;
}

.frame1 {
  width: 1354px;
  height: 890px;
  position: absolute;
  top: 87px;
  left: 42px;
  background: white;
}

.dhis2-to-arcgis-connector {
  width: 872px;
  height: 151px;
  position: absolute;
  top: 259px;
  left: 241px;
  text-align: center;
  color: black;
  font-size: 64px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.integrate-your-dhis2-data {
  width: 847px;
  height: 248px;
  position: absolute;
  top: 366px;
  left: 261px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.sign-in-buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 667px;
  width: 100%;
}

.button {
  padding: 12px 18px;
  font-size: 20px;
  font-family: "Avenir Next World", sans-serif;
  font-weight: 400;
  color: white;
  background: #007ac2;
}

.button[appearance="outline"] {
  background: transparent;
  border: 1.5px solid #007ac2;
  color: #007ac2;
}

.arcgis-online {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 87px;
  left: 602px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 134.58px;
  height: 134.58px;
  position: relative;
}
